asgiref==3.8.1
Django==5.0.6
django-cleanup==8.1.0
django-cors-headers==4.3.1
django-rest-passwordreset==1.4.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
gunicorn==22.0.0
inflection==0.5.1
et-xmlfile==1.1.0
joblib==1.4.2
numpy==1.25.2
openpyxl==3.1.5
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.2.2
scipy>=1.10
six==1.16.0
threadpoolctl==3.5.0
packaging==24.0
PyJWT==2.8.0
PyYAML==6.0.1
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
uritemplate==4.1.1
waitress==3.0.0
whitenoise==6.6.0
gdown==4.7.1
matplotlib==3.8.0

# ML and DL
xgboost==2.0.3
scikit-optimize==0.9.0
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-text==2.15.0
keras==2.15.0
keras-tuner==1.4.6
ml-dtypes==0.2.0
tensorboard==2.15.0

# Used in IPython environments or syntax tools
jedi
